.speech{
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.direction{
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
.name{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

.direction:hover{color: aqua;background-color: black;}

.LUKE{
    color: aquamarine;
    font-size: 15px;
}
.REVENUE{
    color: burlywood;
    font-size: 15px;
}

.table-style{
    border: 10px;
    background-color: red;
    font-family: 'Times New Roman', Times, serif;
    width: 50%;
    align-items: center;
    border: black;
    padding: 20px;
}
