.speech{
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.direction{
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
.name{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

.direction:hover{color: aqua;background-color: black;}

.LUKE{
    color: aquamarine;
    font-size: 15px;
}
.REVENUE{
    color: burlywood;
    font-size: 15px;
}

.table-style{
    border: 10px;
    background-color: red;
    font-family: 'Times New Roman', Times, serif;
    width: 65%;
    align-items: center;
    border: black;
    padding: 25px;
    border-collapse: collapse;
}

.LUKE:hover{
    font-family: 'Times New Roman', Times, Serif;
    font-size: 17px;
    color:black;
    background-color: rgb(4, 73, 73);
    filter: blur(1px);
    box-shadow: 5px 10px #888888;
    border-color: coral;
}
.REVENUE:hover{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(64, 114, 14);
    background-color: rebeccapurple;
    filter: blur(1px);
    box-shadow: 5px 10px #888888;
    border-color: crimson;
}


